body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  width: 100%;
  margin: 0;
  }

  .black-text{
    color: black;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
  
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
    background-color: white;
    color: black;
  
  }

  
nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 21px;
}

 nav{
  background-color: gray;
}

 nav a:hover{
  color:black;
  text-decoration: underline !important;
}

 nav a:link{
  color:black;
  text-decoration: none;
}
 nav a:visited{
  color: black;
}

 nav a {
  color: black;
}

  header {
    text-align: center;
    text-transform: uppercase;
    margin-top: 0.5%;
  }

  main{
    margin: 1%;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

button {
  border-radius: 12px;
}

  footer {
    text-align: center;
    margin-top: 5px;
    
  }

  ul {
    list-style-type: none;  
}

li {
    line-height: 40px;
}

  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: red;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 200px;
    font-size: 1.5em;
    opacity: 0.9;
    transition: opacity 0.15s;
  }
  
  .registerbtn:hover {
    opacity: 2;
  }
  
  .registerbtn:active {
    opacity: 0.85;
  }

  
  a {
    color: dodgerblue;
  }
  

  header h1 a:hover{
    color:dodgerblue;
    text-decoration: underline !important;
}


header h1 a:link{
    color:dodgerblue;
    text-decoration: none;
}
 header h1 a:visited{
    color: dodgerblue;
    text-decoration: none;
}

  
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }

  #copyright {
    margin-top: 35px;
  }

  footer a{
    color: dodgerblue;
  }
  
 footer a:hover{
    color:dodgerblue;
    text-decoration: underline !important;
}


footer  a:link{
    color:dodgerblue;
    text-decoration: none;
}
 footer  a:visited{
    color: dodgerblue;
    text-decoration: none;
}


fieldset a{
  color: dodgerblue;
}

fieldset a:hover{
  color:dodgerblue;
  text-decoration: underline !important;
}


fieldset  a:link{
  color:dodgerblue;
  text-decoration: none;
}
fieldset  a:visited{
  color: dodgerblue;
  text-decoration: none;
}


/* Mobile View */
@media only screen and (max-width: 768px){

  nav {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      
      text-transform: uppercase;
      padding-top: 20px;
      padding-bottom: 10px;
      font-size: 21px;
      
  }



}