/* Desktop View is default */

 *{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    /* border: 1px solid black; */
} 

/* START OF BOXSLIDER CSS */

/* 1. Thumbnail Pager */

 .bx-pagerr {
    text-align: center;
    margin-top: -30px;
  }

  .bx-pagerr a {
    margin: 0 3px;
  }

  .bx-pagerr a img {
    padding: 3px;
    border: solid #ccc 1px;
    width: 200px;
    height: auto;
  }

  .bx-pagerr a:focus img {
    border: solid #5280DD 1px;
  } 

  .bx-pagerr {
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 30px;
}
  

/* 1. End of Thumbnail Pager */


/* 2. Bxslider  */



.bxslider img{
  
aspect-ratio: 16/19;

}

.bx-pagerr img{
    aspect-ratio: 6/4;
}

/* 2. Bxslider  */


/* END OF BOXSLIDER CSS */



/* START OF GRID INITIALIZATION */

#wrapper{
    width:98%;
    height:auto;
    background-color: white;
    margin:1%;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header"
        "top-nav top-nav"
        "description description"
        "main main"
        "footer footer";

}

header{
    grid-area: header;
}

#top-nav {
    grid-area: top-nav;
    margin-bottom: 1%;
}

#subheading-description{
    grid-area: description;
}



main{
    grid-area: main;
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "first-h2 first-h2"
    "bxslider1 bxslider1-desc"
    "second-h2 second-h2"
    "bxslider2 bxslider2-desc"
    "third-h2 third-h2"
    "bxslider3 bxslider3-desc";
}

/* First bxslider */


#neo-h2{
    grid-area: first-h2
}

#first-image-div{
    grid-area: bxslider1;
}

#bxslider1-desc{
    grid-area: bxslider1-desc;
}

/* Second bxslider */


#modern-h2{
    grid-area: second-h2;
}


#second-image-div{
    grid-area: bxslider2;
}

#bxslider2-desc{
    grid-area: bxslider2-desc;
}


/* Third bxslider */

#post-modern-h2{
    grid-area: third-h2;

}

#third-image-div{
    grid-area: bxslider3;
}

#bxslider3-desc{
    grid-area: bxslider3-desc;
}


footer{
    grid-area:footer;
}


/* END OF GRID INITIALIZATION  */



#top-nav, #subheading-description{
    background-color: aliceblue;
    border: 1px solid gray;
}

header{
    margin-bottom: 1%;
    border: 1px solid gray;
}

header h1{

    padding: 1%;
    background-color: aliceblue;
}

h2,h1 {
    color:steelblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:10px;
}



a:link{
    color:black;
    text-decoration: none;
}
 a:visited{
    color: black;
}
a:hover{
    color:black;
    text-decoration: underline;
}


#top-nav nav{
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-evenly;
    align-items: center;
    
}

#top-nav nav{
    list-style-type: none;
}

#top-nav nav a {
    font-size: larger;
   
}

.bxslider-description p{
    font-size: larger;
    line-height: 50px;

}


/* SUBHEADING */
#subheading-description h2, p{
    padding: 10px;
    
}
#subheading-description p{
    padding-top:0px;
    font-size: 20px;
    line-height: 29px;
}

.h2-desc{
    color:steelblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.box-image-sect{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
   border-bottom: 1px solid gray;
}

.caption{
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the last value (0.7) for the desired opacity */
    font-size: small;
}

.bxslider-description{
    display: flex;
    flex-flow: row nowrap;
    background-color: aliceblue;
    margin-top: 75px;
    border: 1px solid grey;
    /* height: fit-content; */
}

footer{
    display:flex;
    flex-flow: row nowrap;
    margin: 1% 0%;
    padding: 1%;
    background-color: aliceblue;
    justify-content: center;
    border: 1px solid grey;
}





/* Mobile View */
@media only screen and (max-width: 768px){
    /* Review common practices for mobile webpages  */

   main{
    grid-area: main;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "first-h2"
    "bxslider1 "
    "bxslider1-desc"
    "second-h2 "
    "bxslider2 "
    "bxslider2-desc"
    "third-h2 "
    "bxslider3 "
    "bxslider3-desc";
}

}